@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.products {
  max-width: 1440px;
  padding: 10px;
  margin: 0 auto;
}

.icon-switch-container {
  display: flex;
  justify-content: flex-end;
}

.icon-switch {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  padding-top: 10px;
  box-shadow: 0px 7px 5px 0px #E1E6EA;
}

.card__name {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.card__color {
  text-align: center;
}

.card__price {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: rgb(211, 63, 52);
  font-weight: bold;
}

.card__addtocart {
  position: absolute;
  right: 30px;
  bottom: 20px;
  background: transparent;
  border: 1px solid rgb(211, 63, 52);
  border-radius: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: rgb(211, 63, 52);
  font-weight: bold;
  cursor: pointer;
}

.card__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 5px;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}

.item__img {
  height: 100%;
  width: 20%;
}

.item__img-pic {
  height: 150%;
  width: auto;
  object-position: 0 -40px;

}

.item__name {
  width: 20%;
  font-weight: bold;
  text-transform: uppercase;
}

.item__color {
  width: 15%;
  text-align: center;
}

.item__price {
  width: 15%;
  color: rgb(211, 63, 52);
  font-weight: bold;
}

.item__addtocart {
  height: 30px;
  background: transparent;
  border: 1px solid rgb(211, 63, 52);
  border-radius: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: rgb(211, 63, 52);
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}