@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.products {
  padding: 10px;
}

.icon-switch-container {
  display: flex;
  justify-content: flex-end;
}

.icon-switch {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}